---
import { getCollection } from "astro:content";
import About from "../components/About.astro";
import Layout from "../layouts/Layout.astro";

const thoughts = await getCollection("thoughts");
const projects = await getCollection("projects");
const snippets = await getCollection("snippets");

const content = [
  ...thoughts.map((post) => ({ ...post, type: "thoughts" })),
  ...projects.map((project) => ({ ...project, type: "project" })),
  ...snippets.map((snippet) => ({ ...snippet, type: "snippet" })),
];

const transformContent = content.map(async (entry) => {
  const { remarkPluginFrontmatter } = await entry.render();
  const lastModified = remarkPluginFrontmatter.lastModified as string;

  return {
    ...entry,
    lastModified: new Date(lastModified).getMilliseconds(),
  };
});
const contentWithLastModified = await Promise.all(transformContent);
const feed = contentWithLastModified.sort(
  (a, b) => a.lastModified - b.lastModified,
);
---

<Layout title="Jonathan Foster">
  <div class="px-1 py-4">
    <About />
  </div>

  <section class="pl-1 pt-6">
    <div
      class="border-squirrel-200 dark:border-squirrel-600 flex flex-col justify-between gap-2 border-b-0 border-l-2 border-dashed pb-3 pl-6 pt-1 sm:flex-row sm:items-center sm:gap-0"
    >
      <h2
        class="text-sea-700 dark:border-squirrel-500 dark:text-squirrel-300 font-sans text-xl font-bold"
      >
        Work Log
      </h2>
      <div class="flex items-center gap-2 font-sans">
        <span
          class="hidden rounded-sm border-0 border-l-4 border-purple-600/20 bg-purple-100 px-3 py-1 text-xs font-bold text-purple-900 dark:border-purple-300 dark:bg-purple-500/20 dark:text-purple-300"
        >
          Essay
        </span>
        <span
          class="rounded-sm border-0 border-l-4 border-orange-600/20 bg-orange-100 px-3 py-1 font-mono text-xs text-orange-900 dark:border-orange-300 dark:bg-orange-500/20 dark:text-orange-300"
        >
          Project
        </span>
        <span
          class="rounded-sm border-0 border-l-4 border-sky-600/20 bg-sky-100 px-3 py-1 font-mono text-xs text-sky-900 dark:border-sky-300 dark:bg-sky-500/20 dark:text-sky-300"
        >
          Thoughts
        </span>
        <span
          class="rounded-sm border-0 border-l-4 border-rose-600/20 bg-rose-100 px-3 py-1 font-mono text-xs text-rose-900 dark:border-rose-300 dark:bg-rose-500/20 dark:text-rose-300"
        >
          Snippet
        </span>
      </div>
    </div>

    <ul
      class="border-squirrel-200 dark:border-squirrel-600 border-l-2 pl-6 font-sans"
    >
      {
        feed.map((post) => (
          <li class="flex flex-col gap-1 py-4">
            {post.type === "thoughts" && (
              <Fragment>
                <div class="flex items-center gap-2 ">
                  <a
                    href={`/thoughts/${post.slug}`}
                    class="text-squirrel-800 dark:text-squirrel-300 hover:text-sea-800 dark:hover:text-sea-200 relative font-sans text-xl font-bold hover:underline"
                  >
                    {post.data.title}
                    <div class="ftw-background bg-squirrel-50 dark:bg-squirrel-800 absolute top-1.5 h-4 w-4" />
                    <div class="ftw-dot absolute top-1.5 h-4 w-4 rounded-full border-2 border-sky-600/20 bg-sky-100 bg-blend-exclusion shadow-sky-500/30 dark:border-sky-400 dark:bg-sky-500/25 dark:shadow" />
                  </a>
                </div>
                <p class="text-squirrel-700 dark:text-squirrel-400 font-sans text-base">
                  {post.data.blurb}
                </p>
              </Fragment>
            )}
            {post.type === "snippet" && (
              <Fragment>
                <div class="flex items-center gap-2 ">
                  <a
                    href={`/snippets/${post.slug}`}
                    class="text-squirrel-800 dark:text-squirrel-300 hover:text-sea-800 dark:hover:text-sea-200 relative font-sans text-xl font-bold hover:underline"
                  >
                    {post.data.title}
                    <div class="ftw-background bg-squirrel-50 dark:bg-squirrel-800 absolute top-1.5 h-4 w-4" />
                    <div class="ftw-dot absolute top-1.5 h-4 w-4 rounded-full border-2 border-rose-600/20 bg-rose-100 bg-blend-exclusion shadow-rose-500/30 dark:border-rose-400 dark:bg-rose-500/25 dark:shadow" />
                  </a>
                </div>
                <p class="text-squirrel-700 dark:text-squirrel-400 font-sans text-base">
                  {post.data.blurb}
                </p>
              </Fragment>
            )}
            {post.type === "project" && (
              <Fragment>
                <div class="flex items-center gap-2 ">
                  <a
                    href={`/projects/${post.slug}`}
                    class="text-squirrel-800 dark:text-squirrel-300 hover:text-sea-800 dark:hover:text-sea-200 relative font-sans text-xl font-bold hover:underline"
                  >
                    {post.data.name}
                    <img
                      src={post.data.logo}
                      class="hidden"
                      style={{ height: "18px", margin: "5px 0" }}
                    />
                    <div class="ftw-background bg-squirrel-50 dark:bg-squirrel-800 absolute h-4 w-4" />
                    <div class="ftw-dot absolute h-4 w-4 rounded-full border-2 border-orange-600/25 bg-orange-100 shadow-orange-500/30 dark:border-orange-400 dark:bg-orange-500/20 dark:shadow" />
                  </a>
                </div>
                <p class="text-squirrel-700 dark:text-squirrel-400 font-sans text-base">
                  {post.data.description}
                </p>
              </Fragment>
            )}
          </li>
        ))
      }
    </ul>
    <div
      class="border-squirrel-200 dark:border-squirrel-600 h-6 border-l-2 border-dashed pl-2"
    >
    </div>
  </section>
</Layout>

<style>
  .ftw-dot,
  .ftw-background {
    top: 0.45rem;
    left: calc(-2rem + -1px);
  }
</style>
