---
import { getCollection } from "astro:content";
import About from "../components/About.astro";
import Layout from "../layouts/Layout.astro";

const essays = await getCollection("essays");
const projects = await getCollection("projects");

const content = [
  ...essays.map((essay) => ({ ...essay, type: "essay" })),
  ...projects.map((project) => ({ ...project, type: "project" })),
];

const feed = content.sort((a, b) => a.data.date - b.data.date);
---

<Layout title="Jonathan Foster">
  <About />

  <section class="pl-1 pt-6">
    <div
      class="flex items-center justify-between border-b-2 border-slate-200/30"
    >
      <h2
        class="border-l-2 border-dashed pb-4 pl-6 font-serif text-3xl text-slate-600"
      >
        Feed
      </h2>
      <div class="flex items-center gap-2 pb-4">
        <a
          href="#essay"
          class="rounded-full border-2 border-purple-600/20 bg-purple-100 px-3 py-px text-xs text-purple-900"
        >
          Essay
        </a>
        <a
          href="#project"
          class="rounded-full border-2 border-amber-600/20 bg-orange-100 px-3 py-px text-xs text-orange-900"
        >
          Project
        </a>
        <a
          href="#thought"
          class="rounded-full border-2 border-sky-600/20 bg-sky-100 px-3 py-px text-xs text-sky-900"
        >
          Thought
        </a>
        <a
          href="#snippet"
          class="rounded-full border-2 border-sky-600/20 bg-lime-100 px-3 py-px text-xs text-lime-900"
        >
          Snippet
        </a>
      </div>
    </div>

    <ul class="border-l-2 border-slate-200 pl-6">
      {
        feed.map((post) => (
          <li class="flex flex-col gap-1 py-4">
            {post.type === "essay" && (
              <Fragment>
                <div class="flex items-center gap-2 ">
                  <a
                    href={`/essays/${post.slug}`}
                    class="relative text-lg font-semibold text-slate-800 hover:text-sky-800 hover:underline"
                  >
                    {post.data.title}
                    <div class="ftw-dot absolute top-1.5 h-4 w-4 rounded-full border-2 border-purple-600/20 bg-purple-100" />
                  </a>
                </div>
                <p class="text-slate-700">{post.data.blurb}</p>
                <span class="hidden text-slate-500">
                  {post.data.date.toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </span>
              </Fragment>
            )}
            {post.type === "project" && (
              <Fragment>
                <div class="flex items-center gap-2 ">
                  <a
                    href={`/projects/${post.slug}`}
                    class="relative text-lg font-semibold text-slate-800 hover:text-sky-800 hover:underline"
                  >
                    {post.data.name}
                    <img
                      src={post.data.logo}
                      class="hidden"
                      style={{ height: "18px", margin: "5px 0" }}
                    />
                    <div class="ftw-dot absolute top-1.5 h-4 w-4 rounded-full border-2 border-orange-600/20 bg-orange-100" />
                  </a>
                </div>
                <p class="text-slate-700">{post.data.description}</p>
              </Fragment>
            )}
          </li>
        ))
      }
    </ul>
    <div class="h-6 border-l-2 border-dashed pl-2"></div>
  </section>
</Layout>

<style>
  .ftw-dot {
    left: calc(-2rem + -1px);
  }
</style>
