---
export interface Props {
  logo: string;
  name: string;
  description: string;
  backgroundClasses: string;
  url: string;
  repoUrl?: string;
}

import { twMerge } from "tailwind-merge";
import Code from "./icons/Code.astro";
import Link from "./icons/Link.astro";

const { logo, name, description, backgroundClasses, url, repoUrl } =
  Astro.props;
---

<div class="w-full rounded shadow sm:w-1/2">
  <div
    class={twMerge(
      "flex h-28 items-center rounded-t justify-center bg-gradient-to-br px-4 py-8 from-squirrel-400 to-squirrel-600",
      backgroundClasses,
    )}
  >
    <img src={logo} class="w-2/3 drop-shadow-sm" alt={name} />
  </div>
  <div class="flex flex-col gap-4 rounded-b bg-white px-4 py-3 text-sm">
    <p class="text-squirrel-600 hidden">
      {description}
    </p>
    <div class="flex items-center gap-4">
      <a
        href={url}
        class="border-squirrel-200 text-squirrel-500 hover:border-squirrel-300 hover:bg-squirrel-50 hover:text-squirrel-600 flex w-1/2 items-center justify-center gap-2 rounded border-2 py-1 text-center"
      >
        <Link />
         Visit</a
      >
      {
        repoUrl && (
          <a
            href={repoUrl}
            class="border-squirrel-200 text-squirrel-500 hover:border-squirrel-300 hover:bg-squirrel-50 hover:text-squirrel-600 flex w-1/2 items-center justify-center gap-2 rounded border-2 py-1 text-center"
          >
            <Code />
            Source
          </a>
        )
      }
    </div>
  </div>
</div>
