---
export interface Props {
  logo: string;
  name: string;
  description: string;
  backgroundClasses: string;
  url: string;
  repoUrl?: string;
}

import { twMerge } from "tailwind-merge";
import Code from "./icons/Code.astro";
import Link from "./icons/Link.astro";

const { logo, name, description, backgroundClasses, url, repoUrl } =
  Astro.props;
---

<div class="w-full sm:w-1/2">
  <div
    class={twMerge(
      "flex h-28 items-center justify-center rounded-lg bg-gradient-to-br px-4 py-8 shadow from-slate-400 to-slate-600",
      backgroundClasses,
    )}
  >
    <img src={logo} class="w-2/3 drop-shadow-sm" alt={name} />
  </div>
  <div class="px-4">
    <div
      class="flex flex-col gap-4 rounded-b-md bg-white px-4 py-3 text-sm shadow"
    >
      <p class="text-slate-600">
        {description}
      </p>
      <div class="flex items-center gap-4">
        <a
          href={url}
          class="flex w-1/2 items-center justify-center gap-2 rounded border-2 border-slate-200 py-1 text-center text-slate-500 hover:border-slate-300 hover:text-slate-600"
        >
          <Link />
           Visit</a
        >
        {
          repoUrl && (
            <a
              href={repoUrl}
              class="flex w-1/2 items-center justify-center gap-2 rounded border-2 border-slate-200 py-1 text-center text-slate-500 hover:border-slate-300 hover:text-slate-600"
            >
              <Code />
              Source
            </a>
          )
        }
      </div>
    </div>
  </div>
</div>
