---
import { getCollection } from "astro:content";
import { Marked } from "marked";
// @ts-ignore
import { markedHighlight } from "marked-highlight";
import { codeToHtml } from "shikiji";
import GitHub from "../../components/icons/GitHub.astro";
import Link from "../../components/icons/Link.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("projects");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

async function getMostRecentCommit(owner: string, repo: string) {
  const apiUrl = `https://api.github.com/repos/${owner}/${repo}/commits/main`;

  const response = await fetch(apiUrl, {
    headers: {
      Accept: "application/vnd.github.v3+json",
    },
  });

  const data = await response.json();
  const { sha, html_url: url } = data;

  return { sha, url };
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const githubUrl = new URL(entry.data.repo);
const readmeUrl = `https://raw.githubusercontent.com${githubUrl.pathname}/main/README.md`;
const [owner, repo] = githubUrl.pathname.split("/").slice(1, 3);
// TODO: this needs to run on the client to be up to date
const mostRecentCommit = await getMostRecentCommit(owner, repo);
const response = await fetch(readmeUrl);
const markdown = await response.text();
const marked = new Marked(
  markedHighlight({
    async: true,
    langPrefix: "language-",
    highlight(input: string, lang: string) {
      const code = codeToHtml(input, {
        lang,
        theme: "dark-plus",
      });
      return code;
    },
  }),
);
const content = marked.parse(markdown);
---

<Layout title={entry.data.name}>
  <header class="space-y-2 py-4">
    <img
      class="rounded-lg"
      srcset={`${entry.data.header_image}, ${entry.data.header_image_2x} 2x`}
      src={entry.data.header_image}
      alt={entry.data.name}
    />
    <div
      class="text-squirrel-500 dark:text-squirrel-400 flex flex-col justify-between gap-1 text-base md:flex-row md:items-center md:gap-0"
    >
      <div
        class="text-squirrel-800 dark:text-sea-100 flex flex-col gap-1 md:flex-row md:items-center md:gap-4"
      >
        <span class="inline-flex items-center gap-1.5">
          <Link />
          <a
            href="https://crowdq.fm"
            class="hover:text-sea-700 dark:hover:text-sea-200 hover:underline"
            >crowdq.fm</a
          >
        </span>
        <span class="inline-flex items-center gap-1.5">
          <GitHub />
          <a
            href="https://github.com/fostertheweb/crowdq.fm"
            class="hover:text-sea-700 dark:hover:text-sea-200 hover:underline"
          >
            Repository
          </a>
        </span>
      </div>

      <span>
        Last Commit: <a
          href={mostRecentCommit.url}
          class="dark:hover:text-squirrel-500 underline"
          >{mostRecentCommit.sha.slice(0, 16)}</a
        ></span
      >
    </div>

    <article set:html={content} class="readme" />

    <Content />
  </header>

  <style is:global>
    .readme {
      @apply text-squirrel-800 dark:text-squirrel-300 font-sans text-base;
    }

    .readme a {
      @apply text-sea-600 hover:text-sea-700 dark:text-sea-200 dark:hover:text-sea-300 underline;
    }

    .readme ul {
      @apply mt-2 list-inside list-disc pl-1;
    }

    .readme ul:has(input[type="checkbox"]) {
      @apply list-none;
    }

    .readme ol {
      @apply mt-4 list-inside list-decimal pl-1;
    }

    .readme ul ul {
      @apply mt-0 pl-4;
    }

    .readme h2 {
      @apply mt-6 font-sans text-xl font-bold;
    }

    .readme h3 {
      @apply dark:text-squirrel-200 mt-4 font-sans text-lg font-bold;
    }

    .readme p {
      @apply mt-4;
    }

    .readme pre.shiki {
      @apply mt-2 rounded border border-black/10 p-4 font-mono text-sm shadow-sm dark:border-white/5;
    }

    .readme p > code,
    .readme ol code,
    .readme ul code {
      @apply bg-squirrel-200/60 border-sea-400 text-sea-700 dark:text-sea-300 rounded border-0 px-1 py-px font-mono text-sm dark:border-white/10 dark:bg-black/20;
    }

    .readme pre code {
      @apply border-0 bg-transparent p-0 font-mono;
    }

    .readme input {
      @apply accent-sea-500;
    }
  </style>
</Layout>
